<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flight Predictor</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/addFlight.css') }}" rel="stylesheet" type="'text/css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 id="flight" class="text-muted">Flight Predictor</h3>
        </div>
        <div class="sm">
            <p align="right"><a href="/">Sign Out</a></p>
        </div>
        <div class="jumbotron">
            <h1>Edit Flight</h1>

            <form class="form-signin" action="{{ url_for('edit_flight', userId=userId, flightId=flightId) }}" method="POST">
                <br>Airline
                <input type = "text" name = "airline" value="{{ flight[1] }}"><br>

                <br>Origin Airport Code
                <input type = "text" name = "origin_airport" value="{{ flight[2] }}"><br>

                <br>Destination Airport Code
                <input type = "text" name = "dest_airport" value="{{ flight[3] }}"><br>

                <br>Date of Departure Time
                <input type = "datetime-local" name = "dept_date" value="{{ flight[4] }}-{% if flight[5] < 10 %}0{% endif %}{{ flight[5] }}-{% if flight[6] < 10 %}0{% endif %}{{ flight[6] }}T{% if flight[7] < 10 %}0{% endif %}{{ flight[7] }}:{% if flight[8] < 10 %}0{% endif %}{{ flight[8] }}"><br>

                <br>Delay Time
                <input type = "text" name = "delay" value="{{ flight[9] }}"><br>

                <br>Delayed
                <input type = "checkbox" name = "delayed" {{ "checked" if flight[10]==1 }}><br>

                <input type = "submit" value = "Save" />
                <td><button onclick="location.href='{{ url_for('add_flight', userId=userId) }}'" type="button">Cancel</button></td><br>
            </form>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; Flight Predictor 2017</p>
    </footer>

</body>
</html>