<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Predictor</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/addFlight.css') }}" rel="stylesheet" type="'text/css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 id="flight" class="text-muted">Flight Predictor</h3>
        </div>
        <div class="sm">
            <p align="right"><a href="/">Sign Out</a></p>
        </div>
        <div class="jumbotron">
            <button id="search" onclick="location.href='{{ url_for('add_flight', userId=userId) }}'" type="button">View Your Flights</button>
            <h1>Search a Flight</h1>

            <form class="form-signin" action="{{ url_for('search_flight', userId=userId) }}" method="POST">
                <br>Airline
                <input type = "text" name = "airline" autofocus="true" value="{% if data != {} %}{{data['airline']}}{% endif %}"><br>

                <br>Origin Airport
                <input type = "text" name = "origin_airport" value="{% if data != {} %}{{data['origin']}}{% endif %}"><br>

                <br>Date of Departure
                <input type = "datetime-local" name = "dept_date" value="{% if data != {} %}{{data['date']}}{% endif %}"><br>

                <input type = "submit" value = "Search" /><br>
            </form>
        </div>



        {% if results != None %}
            <div>
            <h3 id="data">Results</h3>
                <table border="1">
                    <tr>
                        <td>Chance of Delay</td>
                        <td>{{ p_val }}%</td>
                    </tr>
                    {% if security != [] %}
                    <tr>
                        <td>Security Wait Time</td>
                        <td>{{security[9]}} Minutes</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><button onclick="myFunction()" type="button">Predict Delay Time</button></td>
                        <td id="num"><div id="filler"></div></td>
                    </tr>
                </table>
            </div>
        <!--<button onclick="myFunction()" type="button">Generate Delay Time</button>-->
        <!--<ol id="num"></ol>-->
        <!--<h5>Based on similar flights and your flight information, your flight has a  {{ p_val }}% chance of being delayed.</h5>-->
        <!--{% if security != [] %}-->
            <!--<h5>Based on historical data, the average wait time for security check at {{data['origin']}} is {{security[4]}} minutes.</h5>-->
        <!--{% endif %}-->

        <div>
            <h3 id="flights">Similar Flights</h3>
            <table border="1">
                <tr>
                    <th>Airline</th>
                    <th>Origin</th>
                    <th>Departure</th>
                    <th>Delayed</th>
                </tr>
                {% for result in results %}
                    <tr>
                        <td>{{ result[1] }}</td>
                        <td>{{ result[2] }}</td>
                        <td>{{ result[5] }}/{{ result[6] }}/{{ result[4] }} at {{ result[7] }}:{% if result[8] < 10 %}0{% endif %}{{ result[8] }}</td>
                        <td>{% if result[10] == 0 or result[10] == "None" %}No{% else %}Yes{% endif %}</td>                    </tr>
                {% endfor %}

            </table>
        </div>

        <div>
                <img src="{{ url_for('get_fig', origin=data['origin'], airline=data['airline'], date=data['date']) }}">
        </div>
        <div>
                <img src="{{ url_for('get_fig_2', origin=data['origin'], date=data['date']) }}">
        </div>
        <div>
                <img src="{{ url_for('get_fig_3', origin=data['origin'], airline=data['airline'], date=data['date']) }}">
        </div>
        {% endif %}

        <footer class="footer">
            <p>&copy; Flight Predictor 2017</p>
        </footer>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    function myFunction(){
        window.alert("It may take a couple of seconds to generate your wait time!");
        $("#num").html($("<div>").load( "{{ url_for('generate_wait_time', airline=data['airline'], date=data['date']) }}" ));
    }
</script>
</html>